.createPost-cnt{
    padding-top: 65px;
    height: 100vh;
    background: var(--secondaryLight);
}
.form-cnt{
    width: 50%;
    margin: auto;
}
.input-div{
    margin: 10px;
}
.inputs{
    border:2px solid  black;
    border-radius: 20px;
}
.inputs:hover{
    background-color: aliceblue;
    border: black;
    border-radius: 15px;
}
.file-ip{
    align-items: center;
    padding-left: 100px;
}
.primary-button{
    background: var(--primary);
    color: var(--light);
}
.primary-button:hover{
    background: var(--secondary);
    color: var(--light);
}

.form-control:focus{
    box-shadow: 0px 0px 5px 0px var(--secondary)
}
/* .centre-div{
    width:50%;
    margin: auto;
} */